.ErorPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    h1{
        font-size: 300px;
        font-weight: 700;
        line-height: 411px;
        letter-spacing: 0em;
        text-align: center;
        color: $orange;

    }

    h2{
        color: $orange;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;

    }

    .Linkeror{
        color: $orange;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;

    }

}