.logementSliderContainer{
    height: 100%;
    img{
        height: 575px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;

        @include for-phone{
            height: 310px;
        }
        
    }

    h3{
        position: relative;
        font-size: 24px;
        color: white;
        top: -70px;
        font-weight: 600;
        width: 40px;
        left: 50%;

        @include for-phone{
            display: none;
        }
    }
    .sliderButton {
        border: none;
        background: none;
        font-size: 152px;
        color: white;
        font-weight: 500;

    
        &:nth-child(2) {
            position: absolute;
            top: 450px;
            right: 110px; 

            @include for-phone{
                font-size: 38px;
                right: 20px;
                top: 220px;
            }
        }
        &:nth-child(3) {
            position: absolute;
            top: 450px;
            left: 110px; 

            @include for-phone{
                font-size: 38px;
                left: 20px;
                top: 220px;
            }
        }
    }
}


