.subContainer{
    display: flex;
    align-items: center;
    gap: 10px;

    h3{
        width: 90px;
    }

    img{
        height: 64px;
        border-radius: 40px;

    }
}

.subContainerCollumn{
    display: flex;
    flex-direction: column;

    h2{
        color: $orange;
        font-size: 42px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;

    }
    
}
