.subContainer{
    display: flex;
    align-items: center;
    gap: 10px;

    h3{
        width: 90px;
    }

    img{
        height: 64px;
        border-radius: 40px;

    }
}

.hostInfo{
    justify-content: flex-end;

    @include for-phone{

        h3{
            font-size: 18px;
            width: 60px;
            line-height: 20px;
            margin-top: 20px;
        }

        img{
            height: 45px;
        }
    }
}

.subContainerCollumn{
    display: flex;
    flex-direction: column;

    h2{
        color: $orange;
        font-size: 42px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;

        @include for-phone{
            font-size: 32px;
        }
    }

    
}
