/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


*{
    outline: 1px solid red;
}



//-----------

.heroContainer{
    display: flex;
    height: 80px;
    justify-content: space-between;

    h3{
        color: #FF6060;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        text-align: left;
        

    }

}

.subContainer{
    display: flex;
    align-items: center;
    gap: 10px;

    h3{
        width: 50px;
    }

    img{
        height: 64px;
        border-radius: 40px;

    }
}

.subContainerCollumn{
    display: flex;
    flex-direction: column;

    h2{
        color: #FF6060;
        font-size: 36px;
        font-weight: 500;
        line-height: 51px;
        letter-spacing: 0em;
        text-align: left;

    }
    
}




.logementSliderContainer{
    height: 100%;
    img{
        height: 515px;
        width: 100%;
        border-radius: 20px;
        object-fit: cover;
        
    }

    h3{
        position: absolute;
        font-size: 24px;
        color: white;
        top: 580px;
        font-weight: 600;
        left: 600px;
    }
    .sliderButton {
        border: none;
        background: none;
        font-size: 152px;
        color: white;
        font-weight: 500;

    
        &:nth-child(2) {
            position: absolute;
            top: 300px;
            right: 50px; 
        }
        &:nth-child(3) {
            position: absolute;
            top: 300px;
            left: 50px; 
        }
    }
}

















.principalContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 45px;

    nav{
        display: flex;
        justify-content: space-between;

        
        img{
            height: 68px;
            width: 210.32px;
        }

        ul{
            display: flex;
            gap: 20px;
            list-style: none;
            text-decoration: none;

            li .Link {
                text-decoration: none;
                font-size: 24px;
                font-weight: 500;
                line-height: 34px;
                letter-spacing: 0em;
                text-align: right;
                color: #FF6060;


            }

            li .Link:hover{
                color: #FF6060;
                text-decoration: underline;
            }

        }
    }

    .homePage{
        margin-top: 40px;

        
    }

    .boxImage{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        height: 223px;
        overflow: hidden;
    
        img{
            position: absolute;
            z-index: -2;
            border-radius: 20px;
            object-fit: cover;
            width: 100%;

        }


        h2 {
            color: #FFFF;
            font-size: 48px;
            font-weight: 500;
            line-height: 68px;
            letter-spacing: 0em;
            text-align: left;
            z-index: 1; 
        }
    
        ::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: -1;
            background: rgba(0, 0, 0, 0.339); 
            border-radius: 20px;
        }
    }
    
    .contentContainer{
        display: flex;
        background-color: #F6F6F6;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        border-radius: 20px;
        gap: 60px;
        padding: 50px;

        margin-top: 30px;

        .Link{
            text-decoration: none;
        }
    
        
        .cardLogement{
            position: relative;
            display: flex;
            align-items: flex-end;
            border-radius: 20px;
            width: 370px;
            height: 340px;
            z-index: 1;
            border-radius: 10px;            
            overflow: hidden;
        
            img{
                position: absolute;
                z-index: -2;
                border-radius: 20px;
                width: 100%;
                height: 100%;
    
            }
    
    
            h2 {
                color: white;
                padding: 15px;
                font-size: 18px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-align: left;

                
            }

            
            ::before {
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: -1;
                background: rgba(0, 0, 0, 0.339); 
                border-radius: 20px;
            }
        }
        
        
        
       
    }


}

.Footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000000;
    height: 209px;

    img{
        width: 122px;
        filter: brightness(5);
    }

    h2{
        font-size: 24px;
        color: white;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: center;


    }
}


