// ************************************************
// ***********         RESET CSS         **********
// ************************************************

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// ************************************************
// ***********         FONT  CSS         **********
// ************************************************
@font-face {
    font-family: "Montserrat";
    src: url(../font/Montserrat/Montserrat-VariableFont_wght.ttf);
}

*{
    font-family: "Montserrat", sans-serif;
}


// ************************************************
// ***********         COLOR CSS         **********
// ************************************************
$orange: rgba(255, 96, 96, 1);
$grey: rgba(246, 246, 246, 1);




//-----------

@mixin for-phone{
    @media (max-width:375px) {
        @content
        
    }
}

@import "tag";
@import "apropos";
@import "herocontainer";
@import "slider";
@import "subContainer";
@import "principalcontainer";
@import "Contentbox";
@import "ErorPage";
@import "footer";
